In [157]:
import numpy as np
import pandas as pd

In [158]:
def generate_populasi(nDestination,popSize) :
    pop = np.empty((0,nDestination*2-1),int)
    for i in range(popSize) :
        kromosom = np.array(0)
        half = int((nDestination-2)/2)
        hotels = np.random.permutation([i for i in range(1,nDestination-1)])
        kromosom = np.append(kromosom,hotels)
        kromosom = np.append(kromosom,nDestination-1)
        kromosom = np.append(kromosom,np.random.permutation(hotels[:half]))
        kromosom = np.append(kromosom,np.random.permutation(hotels[half:]))
        kromosom = np.append(kromosom,0)
        pop = np.append(pop,np.array([kromosom]),axis=0)
    return pop

def generate_path(nDestination,nPath) :
    path = [[0 for i in range (nDestination)] for i in range (nDestination)]
    n=0
    while True :
        for j in range(nDestination) :
            dest = np.random.choice([i for i in range(nDestination) if i not in[j]])
            dist = np.random.randint(0,10)
            path[j][dest] = dist
            path[dest][j] = dist
            n+=1
            if n==nPath : break
        if n==nPath : break
        
    return path

def hitung_fitness(kromosom,path) :
    distance = 0
    for i in range(len(kromosom)-1) :
        visited = []
        # print('jarak',kromosom[i],'ke',kromosom[i+1])
        distance += jarak(kromosom[i],kromosom[i+1],path,visited)
    return distance

def mutasi(kromosom,nDestination,pMutasi) :
    for i in range(int((nDestination-2)/2)) :
        rand = np.random.uniform()
        half = int((nDestination-2)/2)
        if rand <= pMutasi :
            point = np.random.choice([i for i in range(1,half+1)])  
            a = kromosom[point]
            b = kromosom[nDestination-(point+1)]
            
            a1 = kromosom[1:nDestination-1].tolist().index(a)+1
            b1 = kromosom[1:nDestination-1].tolist().index(b)+1
            a2 = kromosom[nDestination:len(kromosom)].tolist().index(a)+nDestination
            b2 = kromosom[nDestination:len(kromosom)].tolist().index(b)+nDestination
            
            kromosom[a1] = b
            kromosom[b1] = a
            kromosom[a2] = b
            kromosom[b2] = a

    return kromosom
    
def jarak(a,b,path,visited) :
    visited.append(a)
    if (path[a][b] != 0) :
        return path[a][b]
    else :
        for i in range(len(path[a])) :
            if path[a][i] != 0 and i not in visited: 
                # print('jarak',i,'ke',b)
                dist = path[a][i]
                return dist + jarak(i,b,path,visited)
    last = visited[-2]
    visited = []
    return -(path[last][a])

In [199]:
pMutasi = 0.6
popSize = 100
nGeneration = 100

nDestination = np.random.randint(5,20)
nPath = nDestination*(nDestination-1)/2

pop = generate_populasi(nDestination,popSize)
path = generate_path(nDestination,nPath)
ppath = pd.DataFrame(path)

print('Jumlah tujuan :',nDestination)
ppath
for generation in range(nGeneration) :
    newPop = []
    fitness = []
    
    for j in range(int(popSize/2)):

        # SELEKSI ORANG TUA

        p1 = pop[np.random.randint(popSize)]
        p2 = pop[np.random.randint(popSize)]
        parent1 = p1.copy()
        parent2 = p2.copy()
    
        # MUTASI

        anak1 = mutasi(parent1,nDestination,pMutasi)
        anak2 = mutasi(parent2,nDestination,pMutasi)
            
        newPop.append(anak1)
        newPop.append(anak2)
        
        # STEADY STATE
    
    all = np.concatenate((pop,newPop))
    for kromosom in all :
        fitness.append(hitung_fitness(kromosom,path))
    
    steadyState = np.argsort(fitness)
    pop = []
    for i in range(popSize) :
        pop.append(all[steadyState[i]])
    print("\rGenerasi ke-%i dari %i generasi, jarak=%i"%(generation+1,nGeneration,fitness[steadyState[0]]),end='')
    # print(all[steadyState[0]],"waktu =",fitness[steadyState[0]])
        
print("\rGenerasi Ke-",generation+1)
print("Individu Terbaik \t: ",pop[0])
print("Waktu \t\t: " ,fitness[steadyState[0]])
ppath

Jumlah tujuan : 11
Generasi ke-20 dari 100 generasi, jarak=132

Generasi ke-39 dari 100 generasi, jarak=132

Generasi ke-61 dari 100 generasi, jarak=132

Generasi ke-79 dari 100 generasi, jarak=132

Generasi ke-97 dari 100 generasi, jarak=132

Generasi Ke- 100
Individu Terbaik 	:  [ 0  3  8  2  4  6  1  5  9  7 10  8  3  4  2  1  5  9  7  6  0]
Waktu 		:  132

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
      <th>7</th>
      <th>8</th>
      <th>9</th>
      <th>10</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>0</td>
      <td>3</td>
      <td>9</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>9</td>
      <td>2</td>
      <td>5</td>
      <td>7</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0</td>
      <td>0</td>
      <td>6</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>5</td>
      <td>7</td>
      <td>4</td>
      <td>3</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>6</td>
      <td>0</td>
      <td>9</td>
      <td>7</td>
      <td>7</td>
      <td>9</td>
      <td>0</td>
      <td>5</td>
      <td>4</td>
      <td>0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>9</td>
      <td>0</td>
      <td>9</td>
      <td>0</td>
      <td>7</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>3</td>
      <td>7</td>
      <td>3</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0</td>
      <td>0</td>
      <td>7</td>
      <td>7</td>
      <td>0</td>
      <td>0</td>
      <td>9</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>8</td>
    </tr>
    <tr>
      <th>5</th>
      <td>0</td>
      <td>1</td>
      <td>7</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>9</td>
      <td>4</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
    </tr>
    <tr>
      <th>6</th>
      <td>0</td>
      <td>0</td>
      <td>9</td>
      <td>0</td>
      <td>9</td>
      <td>9</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>8</td>
      <td>0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>9</td>
      <td>5</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>4</td>
      <td>0</td>
      <td>0</td>
      <td>9</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>2</td>
      <td>7</td>
      <td>5</td>
      <td>3</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>9</td>
      <td>0</td>
      <td>0</td>
      <td>4</td>
    </tr>
    <tr>
      <th>9</th>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>7</td>
      <td>0</td>
      <td>2</td>
      <td>8</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>10</th>
      <td>7</td>
      <td>3</td>
      <td>0</td>
      <td>3</td>
      <td>8</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>4</td>
      <td>0</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
</div>

In [180]:
ppath

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>3</td>
      <td>0</td>
      <td>6</td>
      <td>3</td>
    </tr>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>7</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>6</td>
      <td>0</td>
      <td>7</td>
      <td>0</td>
      <td>4</td>
    </tr>
    <tr>
      <th>4</th>
      <td>3</td>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
</div>

In [181]:
import networkx as nx
import numpy as np
import string
from PIL import Image
import matplotlib.image as mpimg
import matplotlib.pyplot as plt

dt = [('len', float)]
A = np.array(path,dtype=float)
A = A.view(dt)

G = nx.from_numpy_matrix(A)
G = nx.relabel_nodes(G, dict(zip(range(len(G.nodes())),string.digits)))  
G = nx.drawing.nx_agraph.to_agraph(G)
G.edge_attr.update(color="blue", width="2.0")
G.node_attr.update(color="red", style="filled")

G.draw('map.png', format='png', prog='neato')
img = Image.open('map.png')
img.show()